{% extends '../layout/default.html' %}

{% block mainnav %}
    //= ../parts/nav.main.html
{% endblock %}


{% block content %}

<div class="clearfix">

    <div class="page_title">{{ page.title|safe }}</div>

    <nav class="breadcrumb">
        <ol>
            <li><a href="/">Главная</a></li>
            <li><a href="/istoriya/">История</a></li>
            <li>Фотоархив</li>
        </ol>
    </nav>  


    <div class="mgk-photoarchive">
        {{ content|safe }}
    </div>

    <!--
    <aside class="sidebar">
        <div class="block">
            <div class="block_header">СообществА МГК</div>

            <ul class="community_list js-accordion">
                <li>
                    <a href="/istoriya/fotoarxiv/">Название сообщества</a>
                </li>
                <li>
                    <a href="/istoriya/fotoarxiv/">Название сообщества</a>
                </li>
                <li>
                    <a href="/istoriya/fotoarxiv/">Название сообщества</a>
                    <ul>
                        <li>
                            <a href="/istoriya/fotoarxiv/"><span class="date">2014.11.17</span><br> Название события</a>
                        </li>
                        <li>
                            <a href="/istoriya/fotoarxiv/"><span class="date">2014.11.17</span><br> Название события</a>
                        </li>
                        <li>
                            <a href="/istoriya/fotoarxiv/"><span class="date">2014.11.17</span><br> Название события</a>
                        </li>
                        <li>
                            <a href="/istoriya/fotoarxiv/"><span class="date">2014.11.17</span><br> Название события</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/istoriya/fotoarxiv/">Название сообщества</a>
                    <ul>
                        <li>
                            <a href="/istoriya/fotoarxiv/"><span class="date">2014.11.17</span><br> Название события</a>
                        </li>
                        <li>
                            <a href="/istoriya/fotoarxiv/"><span class="date">2014.11.17</span><br> Название события</a>
                        </li>
                        <li>
                            <a href="/istoriya/fotoarxiv/"><span class="date">2014.11.17</span><br> Название события</a>
                        </li>
                        <li>
                            <a href="/istoriya/fotoarxiv/"><span class="date">2014.11.17</span><br> Название события</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/istoriya/fotoarxiv/">Название сообщества</a>
                    <ul>
                        <li>
                            <a href="/istoriya/fotoarxiv/"><span class="date">2014.11.17</span><br> Название события</a>
                        </li>
                        <li>
                            <a href="/istoriya/fotoarxiv/"><span class="date">2014.11.17</span><br> Название события</a>
                        </li>
                        <li>
                            <a href="/istoriya/fotoarxiv/"><span class="date">2014.11.17</span><br> Название события</a>
                        </li>
                        <li>
                            <a href="/istoriya/fotoarxiv/"><span class="date">2014.11.17</span><br> Название события</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/istoriya/fotoarxiv/">Название сообщества</a>
                </li>
                <li>
                    <a href="/istoriya/fotoarxiv/">Название сообщества</a>
                </li>
                <li>
                    <a href="/istoriya/fotoarxiv/">Название сообщества</a>
                </li>
                <li>
                    <a href="/istoriya/fotoarxiv/">Название сообщества</a>
                </li>
                <li>
                    <a href="/istoriya/fotoarxiv/">Название сообщества</a>
                </li>
                <li>
                    <a href="/istoriya/fotoarxiv/">Название сообщества</a>
                </li>
                <li>
                    <a href="/istoriya/fotoarxiv/">Название сообщества</a>
                </li>
                <li>
                    <a href="/istoriya/fotoarxiv/">Название сообщества</a>
                </li>
                <li>
                    <a href="/istoriya/fotoarxiv/">Название сообщества</a>
                </li>
            </ul>
        </div>
    </aside>

    <div class="gallery_archive js-rollovers">
    
        <div class="col_t3">

            <article class="gallery_archive_item">
                <a href="/istoriya/fotoarxiv/" class="js-rollover-item"><img src="/assets/files/tmp/1.jpg" width="628" height="280" alt=""></a>

                <div class="gallery_archive_content">
                    <header>
                        <h2 class="gallery_archive_title">Lorem ipsum</h2>
                    </header>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim <a href="/">id est laborum</a>.</p>

                    <a class="gallery_archive_link" href="#"></a>
                </div>
            </article>

            <div class="col_t5">
                <article class="gallery_archive_item">
                    <a href="/istoriya/fotoarxiv/" class="js-rollover-item"><img src="/assets/files/tmp/4.jpg" width="260" height="202" alt=""></a>

                    <div class="gallery_archive_content">
                        <header>
                            <h2 class="gallery_archive_title">Lorem ipsum</h2>
                        </header>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

                        <a class="gallery_archive_link" href="#"></a>
                    </div>
                </article>

                <article class="gallery_archive_item">
                    <a href="/istoriya/fotoarxiv/" class="js-rollover-item"><img src="/assets/files/tmp/6.jpg" width="260" height="426" alt=""></a>

                    <div class="gallery_archive_content">
                        <header>
                            <h2 class="gallery_archive_title">Lorem ipsum</h2>
                        </header>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

                        <a class="gallery_archive_link" href="#"></a>
                    </div>
                </article>
            </div>

            <div class="col_t4 float_right">
                <article class="gallery_archive_item">
                    <a href="/istoriya/fotoarxiv/" class="js-rollover-item"><img src="/assets/files/tmp/5.jpg" width="346" height="426" alt=""></a>

                    <div class="gallery_archive_content">
                        <header>
                            <h2 class="gallery_archive_title">Lorem ipsum</h2>
                        </header>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

                        <a class="gallery_archive_link" href="#"></a>
                    </div>
                </article>

                <article class="gallery_archive_item">
                    <a href="/istoriya/fotoarxiv/" class="js-rollover-item"><img src="/assets/files/tmp/2.jpg" width="346" height="202" alt=""></a>

                    <div class="gallery_archive_content">
                        <header>
                            <h2 class="gallery_archive_title">Lorem ipsum</h2>
                        </header>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

                        <a class="gallery_archive_link" href="#"></a>
                    </div>
                </article>
            </div>
        
        </div>

        <div class="col_t4 float_right">
        
            <article class="gallery_archive_item">
                <a href="/istoriya/fotoarxiv/" class="js-rollover-item"><img src="/assets/files/tmp/7.jpg" width="346" height="280" alt=""></a>

                <div class="gallery_archive_content">
                    <header>
                        <h2 class="gallery_archive_title">Lorem ipsum</h2>
                    </header>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

                    <a class="gallery_archive_link" href="#"></a>
                </div>
            </article>

            <article class="gallery_archive_item">
                <a href="/istoriya/fotoarxiv/" class="js-rollover-item"><img src="/assets/files/tmp/2.jpg" width="346" height="202" alt=""></a>

                <div class="gallery_archive_content">
                    <header>
                        <h2 class="gallery_archive_title">Lorem ipsum</h2>
                    </header>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

                    <a class="gallery_archive_link" href="#"></a>
                </div>
            </article>

            <article class="gallery_archive_item">
                <a href="/istoriya/fotoarxiv/" class="js-rollover-item"><img src="/assets/files/tmp/3.jpg" width="346" height="202" alt=""></a>

                <div class="gallery_archive_content">
                    <header>
                        <h2 class="gallery_archive_title">Lorem ipsum</h2>
                    </header>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

                    <a class="gallery_archive_link" href="#"></a>
                </div>
            </article>

            <article class="gallery_archive_item">
                <a href="/istoriya/fotoarxiv/" class="js-rollover-item"><img src="/assets/files/tmp/2.jpg" width="346" height="202" alt=""></a>

                <div class="gallery_archive_content">
                    <header>
                        <h2 class="gallery_archive_title">Lorem ipsum</h2>
                    </header>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

                    <a class="gallery_archive_link" href="#"></a>
                </div>
            </article>

        </div>

        <div class="clearfix"></div>

        <div class="pagination">
            <a class="pagination_item btn_nav" href="/infopage.html"></a>
            <a class="pagination_item" href="/infopage.html">1</a>
            <a class="pagination_item active" href="/infopage.html">2</a>
            <a class="pagination_item" href="/infopage.html">3</a>
            <a class="pagination_item" href="/infopage.html">4</a>
            <a class="pagination_item" href="/infopage.html">5</a>
            <a class="pagination_item" href="/infopage.html">6</a>
            <a class="pagination_item" href="/infopage.html">7</a>
            <a class="pagination_item" href="/infopage.html">8</a>
            <a class="pagination_item btn_nav next" href="/infopage.html"></a>
        </div>
    
    </div>
    -->

</div>
{% endblock %}

{% block popups %}
    
    //= ../parts/popup.auth.html

{% endblock %}