<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{page.title}} {% if page.title!==site.title %}. {{site.title}} {% endif %}</title>
        <meta name="description" content="{{page.description}}">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/utilities.css">
        <link rel="stylesheet" href="/assets/css/layout.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/typography.css">

        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>

    </head>
    
    <body class="main">
        <div class="main_wrapper clearfix">

            <header class="page_header">
                <a href="/" class="logo">Некоммерческое партнерство «МГК». Объединение во имя будущего</a>
                
                <div class="search_box">
                    <form action="#">
                        <input type="text" placeholder="поиск">
                        <input type="submit">
                    </form>
                </div>
            </header>

            <div class="page_content_wrapp">
                <div class="page_content main">
                    
                    {% block mainnav %}{% endblock %}

                    {% block content %}{% endblock %}

                </div>
            </div>

        </div>

        <footer class="page_footer">
            <div class="content_wrapp">
                <div class="page_footer_content">
                                        
                    //= ../parts/nav.footer.html

                    <div class="col col--adrr">
                        <a href="/" class="logo">Некоммерческое партнерство «МГК»</a>

                        <div class="address">
                            <div class="tel"><span class="code">+7 (495)</span>123-45-67</div>

                            <div class="map">
                                <img src="/assets/files/tmp/map.jpg" style="vertical-align: middle" alt="" width="288" height="198">
                            </div>

                            <address>
                                123456, Москва, ул. Неизвестная, д. 14/2
                                <br>
                                tel: +7 [495] 123-45-67
                                <br>
                                fax: +7 [495] 123-45-67
                                <br>
                                e-mail: info@mgk.ru
                            </address>
                        </div>

                    </div>
                </div>
            </div>
        </footer>

        {% block popups %}{% endblock %}

        <div class="bottom_line"><hr></div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <script src="/assets/js/carousel.js"></script>
        <script src="/assets/js/clicker.js"></script>
        <script src="/assets/js/main.js"></script>
        <script src="/assets/js/login.js"></script>
        <script src="/assets/js/dates.js"></script>

    </body>
</html>