
.page_title {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}


.text_page { font: 14px 'PT Sans', sans-serif; }

 .text_page h1,
 .text_page h2,
 .text_page h3,
 .text_page h4,
 .text_page p,
 .text_block p,
 .text_page ul,
 .text_block ul,
 .text_page ol li,
 .text_page table { margin-bottom: 15px; }

 .text_page h1 {
   font-size: 20px;
   text-align: center;
 }

 .text_page h2 {
   font-size: 15px;
   font-weight: bold;
 }

  .text_page ul,
  .text_block ul { list-style: none; }

    .text_page ul li:before,
    .text_block ul li:before {
      left: -5px;
      position: relative;
      content: "-";
    }

    .text_page li,
    .text_block li {
        padding-left: 10px;
        list-style-position: inside;
    }

.text_page table {
  border: 1px solid #999;
}
  .text_page table th {
    border: 1px solid #999;
    background: #ddd;
    padding: 10px;
    text-align: left;
  }
  .text_page table td {
    border: 1px solid #999;
    padding: 10px;
  }