{% extends '../layout/default.html' %}


{% block mainnav %}
    //= ../parts/nav.main.html
{% endblock %}


{% block content %}

    <div class="page_title">{{ page.title|safe }}</div>

    {{ breadcrumbs() }}

    <div class="layout text_page">

        {{ content|safe }}

    </div>

    <!--
    <div class="pages">
        <span>1</span>
        <a href="mgk/infopage.html">2</a>
        <a href="mgk/infopage.html">3</a>
        <a href="mgk/infopage.html">4</a>
    </div>
    -->

{% endblock %}


{% block popups %}
    
    //= ../parts/popup.auth.html

{% endblock %}
