{% extends '../layout/default.html' %}

{% block mainnav %}
    //= ../parts/nav.main.html
{% endblock %}


{% block content %}

    <div class="page_title">{{ page.title|safe }}</div>

    <!-- <nav class="breadcrumb">
        <ol>
            <li><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Главная</a></li>
            <li><a href="/istoriya/galereya-komsomolskoj-pamyati.html">История</a></li>
            <li>Галерея комсомольской памяти</li>
        </ol>
    </nav> -->

    <div class="letters">
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html" class="active">а</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">б</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">в</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">г</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">д</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">е</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">ж</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">з</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">и</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">к</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">л</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">м</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">н</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">о</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">п</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">р</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">с</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">т</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">у</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">ф</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">х</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">ц</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">ч</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">ш</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">щ</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">э</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">ю</a>
        <a href="/istoriya/galereya-komsomolskoj-pamyati.html">я</a>
    </div>

    <ul class="gallery js-gallery">
        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/4el.jpg" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_male.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_female.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_female.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_female.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_female.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_female.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_female.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_female.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/4el.jpg" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_male.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_female.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_female.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_female.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_female.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_female.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_female.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>

        <li class="gallery_item">
            <a href="/istoriya/galereya-komsomolskoj-pamyati.html">
                <img class="photo" src="/_assets/files/tmp/blank_female.gif" width="120" height="150" alt="">
                <span class="last_name">Фамилия</span> Имя Отчество
            </a>

            <div class="gallery_popup">
                <div class="gallery_popup_photo">
                    <img width="302" height="302" src="/_assets/files/tmp/4el2.jpg" alt="">
                </div>

                <div class="gallery_popup_text">
                    <div class="name">
                        <span class="last_name">Фамилия</span> Имя Отчество
                    </div>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p><a href="/istoriya/galereya-komsomolskoj-pamyati.html">Автобиографическая справка</a></p>
                </div>
            </div>
        </li>
    </ul>

{% endblock %}

{% block popups %}
    
    //= ../parts/popup.auth.html

{% endblock %}